/* GLOBAL STYLING */
html {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
}

.primaryText {
  font-family: 'Oswald', sans-serif;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.75rem;
  color: #1e2a35;
}

.secondaryText {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  margin: .75rem 0 3rem 0;
}

.primaryTextAlt {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.75rem;
  color: white;
}

.secondaryTextAlt{
  font-size: 1.5rem;
  margin: .75rem 0 3rem 0;
  color: gainsboro;
}

body {
  display: grid;
  justify-items: center;
  border-top: .25rem solid darkgoldenrod;
  background-color: gainsboro;
}

.navLink {
  opacity: .33;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border-bottom: 3px solid gainsboro;
  border-top: .25rem solid gainsboro;
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.navLink:hover {
  opacity: 1;
  border-bottom: 3px solid #1e2a35;
  border-top: 3px solid royalblue;
  color: darkgoldenrod;
}

/* cta = call to action */
.cta {
  text-align: center;
}


/* HEADER STYLING */
.banner {
  display: grid;
  grid-template-columns: 2fr 8fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 980px;
  border-bottom: 3px solid #1e2a35;
  margin-top: 1.5rem;
}

.siteLogo {
  grid-column-start: 1;
}

.twitter {
  grid-column-start: 3;
}

.linkedIn {
  grid-column-start: 4;
}

.gitHub {
  grid-column-start: 5;
}

.twitter, .linkedIn, .gitHub {
  opacity: .55;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.twitter:hover, .linkedIn:hover, .gitHub:hover {
  opacity: 1;
}


/* NAVIGATION STYLING */
.nav {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
  grid-template-rows: 100%;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 4px solid royalblue;
  font-family: 'Oswald', sans-serif;
}

.mobileNav {
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 4px solid royalblue;
  font-family: 'Oswald', sans-serif;
}

.myWork {
  grid-column-start: 2;
} /* No CSS for the other elements, they fell into place on their own. ¯\_(ツ)_/¯ */



/* MAIN SECTION STYLING */
main {
  max-width: 980px;
}

#landingPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  margin: 2rem 0;
  background-image: url(../imgs/webDevBG.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#whatIDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10rem;
  border-top: 3px solid royalblue;
  background-color: white;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#iconLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1.5rem;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}

#gallery {
  display: grid;
  margin: 2rem 0;
  grid-template-columns: 2fr 1fr;
  grid-gap: 8rem 3rem;
}

.description {
  display: grid;
  justify-items: center;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: .9rem;
  background-color: white;
  
}

.siteThumbnail {
  position: relative;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.siteImage {
  width: 100%;
}

.visitSiteOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #1e2a35;
}

.overlayText {
  color: darkgoldenrod;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.siteThumbnail:hover .visitSiteOverlay {
  opacity: .75;
}

.descriptionHeading {
  color: #1e2a35;
  font-weight: bold;
  font-size: 1.5rem;
}

.thumbnailDescription {
  color: #777777;
  text-align: justify;
}

.thumbnailDescription span a:link {
  color: darkgreen;
}

.thumbnailDescription span a:visited {
  color: darkolivegreen;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-top: 3px solid royalblue;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#about {
  display: grid;
  margin: 2rem 0;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
}

.brianDescription {
  color: #777777;
  margin: 0 1rem 1rem 0;
  text-align: justify;
}

.brianImage {
  border-radius: 50%;
}


/* FOOTER STYLING */
#footer {
  display: grid;
  background-color: darkgray;
  color: #1e2a35;
  padding: 2rem;
  width: 100%;
  justify-items: center;
  font-size: .75rem;
  border-top: .25rem solid darkgoldenrod;
}

#footer p, #footer div {
  max-width: 980px;
  margin: .5rem 0;
}

#footer p span {
  font-weight: bold;
  color: darkslategray;
}

#footer div a:link {
  color: darkgreen;
}

#footer div a:visited {
  color: darkolivegreen;
}


/* MEDIA QUERY STYLING */
@media only screen and (min-width: 962px) {
  
  /* Hides mobile icons in tablet/desktop mode */
  .mobileNav, .mobileBanner, #socialMedia {
    display: none;
  }  
}

@media only screen and (max-width: 962px) {
  
  /* TABLET STYLING */
  
  .mobileNav, .mobileBanner, #socialMedia {
    display: none;
  }
  
  .twitter, .linkedIn, .gitHub {
    margin: 0 .5rem;
  }

  .navLink {
    font-size: 1rem;
  }
  
  #gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .siteThumbnail {
    margin-bottom: 2rem;
    width: 70%;
  }
  
  .description {
    margin-bottom: 8rem;
    width: 70%;
  }
  
  .descriptionHeading {
    margin-bottom: 1rem;
  }
  
  .brianDescription {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 606px) {
  
  /* MOBILE STYLING */
  
  .nav, .banner {
    display: none;
  }
  
  .mobileNav, .mobileBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  #navLinks a {
    margin: 1rem;
  }
  
  .siteThumbnail {
    margin-bottom: 2rem;
    width: 80%;
  }
  
  .description {
    margin-bottom: 8rem;
    width: 80%;
  }
  
  #iconLayout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  #contact h1, #contact p {
    width: 80%
  }
  
  .brianImage {
    margin-bottom: 2rem;
  }
  
  .brianDescription {
    margin: 1rem 2rem;
  }
}