/* GLOBAL STYLING */
html {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
}

.placeHolder {
  background-color: gray;
}

.placeHolderText {
  color: darkgray;
}

body {
  display: grid;
  justify-items: center;
  border-top: .25rem solid darkgoldenrod;
}

.navLink {
  opacity: .33;
  -webkit-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border-bottom: 3px solid white;
  border-top: .25rem solid white;
  text-decoration: none;
  color: black;
}

.navLink:hover {
  opacity: 1;
  border-bottom: 3px solid #1e2a35;
  border-top: 3px solid royalblue;
}


/* HEADER STYLING */
.banner {
  display: grid;
  grid-template-columns: 2fr 8fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 980px;
  border-bottom: 3px solid #1e2a35;
  margin-top: 4rem;
}

.siteLogo {
  grid-column-start: 1;
}

.twitter {
  grid-column-start: 3;
}

.linkedIn {
  grid-column-start: 4;
}

.gitHub {
  grid-column-start: 5;
}

.twitter, .linkedIn, .gitHub {
  opacity: .55;
  -webkit-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.twitter:hover, .linkedIn:hover, .gitHub:hover {
  opacity: 1;
}


/* NAVIGATION STYLING */
nav {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
  grid-template-rows: 100%;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 4px solid royalblue;
  font-family: 'Oswald', sans-serif;
}

.myWork {
  grid-column-start: 2;
} /* No CSS for the other elements, they fell into place on their own. ¯\_(ツ)_/¯ */



/* MAIN SECTION STYLING */
/*
#myWorkGallery {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
*/

#contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid royalblue;
  width: 980px;
  font-family: 'Oswald', sans-serif;
  background-color: #efefef;
}

.primaryText {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 3rem;
  color: #1e2a35;
}

.secondaryText {
  font-size: 1.5rem;
  margin: .75rem 0 3rem 0;
}


/* FOOTER STYLING */
#footer {
  display: grid;
  background-color: lightgray;
  color: gray;
  padding: 2rem;
  width: 100%;
  justify-items: center;
  font-size: .75rem;
  border-top: .25rem solid darkgoldenrod;
}

#footer p, #footer div {
  width: 980px;
  margin: .5rem 0;
}

#footer p span {
  font-weight: bold;
  color: darkslategray;
}